body{
    background-color: rgb(42, 42, 42);
}
main{
    display: grid;
    grid-template-columns: repeat(6,50px);
    grid-template-rows: repeat(6,50px);
    gap:20px;
    justify-content: center;
}
main div{
    background-color: aliceblue;
}
h1{
    text-align: center;
    color: whitesmoke;
}
